@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
body{
    margin: 0px;
    background-color: gray;
    font-family: Arial;
    text-align: center;
}
.banner {
    background-image: url('kepek/bannerakos.png');
    width: 100%;
    height: 300px;
}
#felsocim{
    font-family: 'Comforter Brush', cursive;
    color: white;
}
.simage{
    width: 50px;
    margin-left: 700px;
    height: 50px;
}
.container-fluid{
    background-image: url('kepek/hatter1.jpg');
    width: 100%;
    height: 1000px;
}
footer{
    position: relative;
    width: 100%;
    background-color: gray;
    color: yellow;
}
footer li{
    list-style-type:none;
}
